<%- include templateheader %>
<body>
<div> 
</div>
    <form method="post">
        Account:<input type="text" name='name'> <br/>
        Passward:<input type="password" name='passward'> <br/>
        <input type="submit" value='Submit'>
    </form>
    <%- include templatetips %>
</body>

<%- include templatefooter %>