<%- include templateheader %>
<body>
    <form method="post">
        Account:<input type="text" name="name"> <br/>
        Email:<input type="email" name="email"> <br/>
        Passward:<input type="password" name="password"> <br/>
        Re_Passward:<input type="password" name="re_passward"> <br/>
        <input type="submit" value="Regist">
    </form>
    <%- include templatetips %>
</body>
<%- include templateheader %>